:root {
  --green:#66ff66;
  --lightgray:#f2f2f2;
  --gray:#d9d9d9;
  --red:#ff6666;
}

body {
  padding-top: 30px;
}
body::-webkit-scrollbar {
  border-radius: 10px;
  width: 10px;
  background-color: var(--lightgray);
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--green);
}
body input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
body .inactive {
  pointer-events: none;
}
body .fract {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 3px;
}
body .eqPart {
  padding: 0 3px;
}
body sup, body sub {
  font-size: 0.8rem;
}

.sqrt {
  border-top: 1px solid #000;
}

.main {
  margin: auto;
  max-width: 1000px;
  background-color: #f2f2f2;
  border-radius: 20px;
  font-family: sans-serif;
  min-width: 400px;
}
.main .wrapper {
  max-width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 30px 0;
}

#inputs.autoButtonsWidth .buttons_row button {
  width: auto;
  padding: 10px;
  color: #000;
  font-size: 20px;
}
#inputs.autoButtonsWidth .buttons_row button sup {
  font-size: 12px;
  bottom: 3px;
}

#inputs .buttons_row {
  margin-bottom: 10px;
}
#inputs .buttons_row.header, #inputs .buttons_row.header button {
  font-family: serif;
  font-weight: normal;
  font-size: 45px;
}
#inputs .buttons_row div {
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#inputs .buttons_row button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #d9d9d9;
  cursor: pointer;
  margin: 5px 5px;
  transition: 0.25s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
  border: none;
  font-size: 16px;
  border-width: 4px 0;
  border-top-color: #f2f2f2;
  border-bottom-color: #b3b3b3;
  border-style: solid;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 4px;
  border-top-width: 0;
}
#inputs .buttons_row button:active {
  border-bottom-width: 0;
  border-top-width: 4px;
  transition: 0s;
}
#inputs .buttons_row button:hover {
  opacity: 0.8;
}
#inputs .buttons_row button.active {
  background-color: var(--green);
  border-bottom-color: #00e600;
}
#inputs .buttons_row .toggle_all_button {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #d9d9d9;
  cursor: pointer;
  margin: 0 5px;
  transition: 1s;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 8px;
  padding: 8px;
  border-top-color: #f2f2f2;
  border-bottom-color: #b3b3b3;
  border-style: solid;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 4px;
  border-top-width: 0;
}
#inputs .buttons_row .toggle_all_button:active {
  border-bottom-width: 0;
  border-top-width: 4px;
  transition: 0s;
}
#inputs .buttons_row .toggle_all_button:hover {
  opacity: 0.8;
}
#inputs .buttons_row .toggle_all_button div {
  background-color: var(--green);
  border-radius: 3px;
  width: 100%;
  height: 100%;
}
#inputs .buttons_row .toggle_all_button.active {
  background-color: var(--green);
  border-bottom-color: #00e600;
}
#inputs .buttons_row .toggle_all_button.active div {
  background-color: #d9d9d9;
}

#inputs .slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  max-width: 800px;
  width: 100%;
  display: block;
  background-color: #d9d9d9;
  opacity: 0.8;
  transition: opacity 0.2s;
  height: 30px;
  border-radius: 4px;
  margin: 30px 0;
  cursor: pointer;
}
#inputs .slider:hover {
  opacity: 1;
}
#inputs .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  background-color: var(--green);
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

#equations_amount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #d9d9d9;
}

#equation_area {
  border: 15px solid #d9d9d9;
  border-radius: 20px;
  margin: 20px 0;
  max-width: 800px;
  height: 200px;
  transition: 1s;
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#equation_area .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#equation_area .inner.flex_column {
  flex-direction: column;
  row-gap: 20px;
}
#equation_area .inner.hiden {
  opacity: 0;
  transition: 0.25s;
}
#equation_area .inner.none {
  display: none;
}
#equation_area.active {
  border-color: var(--green);
}
#equation_area.mistake {
  transition: 0.25s;
  background-color: #ffb3b3;
}
#equation_area .equation_text {
  font-size: 40px;
  margin-right: 10px;
  color: #262626;
  transition: 0.5s;
}
#equation_area .equation_text sup {
  font-size: 1.2rem;
}
#equation_area .equation_text.fraction {
  font-size: 35px;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#equation_area .equation_text.hiden {
  opacity: 0;
}
#equation_area .answer_text {
  height: 40px;
  width: 60px;
  font-size: 25px;
  box-sizing: border-box;
  padding: 5px;
  color: #4d4d4d;
  text-align: center;
  transition: 0.5s;
}
#equation_area .answer_text.hiden, #equation_area .sign.hiden {
  opacity: 0;
  width: 0;
  padding: 0;
  border-width: 0;
}
#equation_area .checkmark {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 45px;
  color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
}
#equation_area .checkmark.hiden {
  opacity: 0;
  transition: 0.25s;
}
#equation_area .checkmark.none {
  display: none;
}
#equation_area .answer_area {
  font-size: 40px;
  display: flex;
}
#equation_area .answer_area.change_height {
  height: 40px;
}
#equation_area .answer_area .x_holder {
  bottom: 3px;
}
#equation_area .answer_area .x {
  bottom: 3px;
}

#equation_area .sign {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: var(--green);
  color: white;
  cursor: pointer;
  transition: 0.5s;
  border-style: solid;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 3px;
  border-top-width: 0;
  border-bottom-color: lime;
}
#equation_area .sign:active {
  border-bottom-width: 0;
  border-top-width: 3px;
  transition: 0s;
}
#equation_area .sign:hover {
  opacity: 0.8;
}
#equation_area .sign.start {
  border-radius: 10px;
  width: 120px;
  height: 80px;
  border-style: solid;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 5px;
  border-top-width: 0;
}
#equation_area .sign.start:active {
  border-bottom-width: 0;
  border-top-width: 5px;
  transition: 0s;
}
#equation_area .sign.start:hover {
  opacity: 0.8;
}
#equation_area .sign.submit {
  border-radius: 5px;
  width: 80px;
  height: 40px;
  font-size: 40px;
  margin-left: 5px;
}
#equation_area .sign.reload {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 36px;
}
#equation_area .sign.accept {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 36px;
}
#equation_area .sign #sign_start {
  -webkit-clip-path: polygon(5% 2%, 5% 100%, 90% 50%);
          clip-path: polygon(5% 2%, 5% 100%, 90% 50%);
  background-color: #fff;
  width: 40px;
  height: 40px;
}

#mistakes .mistakes_header {
  text-align: center;
  font-size: 45px;
  color: #d9d9d9;
  font-weight: bold;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 10px 0 25px;
}
#mistakes .mistakes_header .mistake_cross {
  -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
          clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  background-color: var(--gray);
  height: 40px;
  width: 40px;
  margin-right: 5px;
  transition: 1s;
}
#mistakes .mistakes_header.active .mistake_cross {
  background-color: var(--red);
}
#mistakes .mistakes_header.no_mistakes .mistake_cross {
  background-color: var(--green);
}

#mistakes .mistakes_area {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap-reverse;
  transition: 1s;
}
#mistakes .mistakes_area div {
  width: 100%;
  max-width: 200px;
  padding: 20px;
  margin: 10px;
  border: 4px dashed #d9d9d9;
  text-align: center;
  font-size: 20px;
  transition: 0.5s;
}
#mistakes .mistakes_area div.failed {
  border-color: var(--red);
}
#mistakes .mistakes_area div.solved {
  border-color: var(--green);
}
#mistakes .mistakes_area div.inactive {
  border-color: #d9d9d9;
}

#mistakes .explanation_wrapper {
  border: 10px solid var(--green);
  padding: 15px;
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
  transition: 1s;
  display: block;
  margin-bottom: 30px;
  margin-top: 15px;
}
#mistakes .explanation_wrapper .equation_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid var(--green);
  padding-bottom: 10px;
  font-size: 1.8rem;
}
#mistakes .explanation_wrapper .equation_with_answer {
  background-color: var(--lightgray);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 7px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
#mistakes .explanation_wrapper .explanation_container {
  margin-top: 20px;
}
#mistakes .explanation_wrapper .explanation_container li {
  font-size: 1.2rem;
  margin-bottom: 10px;
  width: 100%;
}
#mistakes .explanation_wrapper .equation_container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

#mistakes .explanation_wrapper.equation sup {
  font-size: 1rem;
  bottom: 5px;
}
#mistakes .explanation_wrapper.equation sub {
  top: 7px;
}
#mistakes .explanation_wrapper.equation .equation {
  padding-left: 30px;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: -webkit-max-content auto;
  grid-template-columns: max-content auto;
  justify-items: start;
}
#mistakes .explanation_wrapper.equation .equation .elem {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
#mistakes .explanation_wrapper.equation .equation .underline {
  text-decoration: underline;
  -webkit-text-decoration-color: #666666;
          text-decoration-color: #666666;
  margin-bottom: 0;
}
#mistakes .explanation_wrapper.equation .equation .last {
  margin-bottom: 0;
}
#mistakes .explanation_wrapper.equation .equation .top_border {
  border-left: 4px solid var(--green);
  padding: 0 7px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
#mistakes .explanation_wrapper.equation .equation .left {
  padding-right: 10px;
}
#mistakes .explanation_wrapper.equation .equation .right {
  border-left: 4px solid var(--green);
  padding-left: 5px;
}
#mistakes .explanation_wrapper.equation .ors_holder {
  display: flex;
  padding: 7px;
  border-radius: 5px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-right: 10px;
}
#mistakes .explanation_wrapper.equation .ors_holder .or_wrapper {
  display: flex;
  min-height: 70px;
}
#mistakes .explanation_wrapper.equation .ors_holder .or_figure {
  border: 3px solid #000;
  border-right-width: 0;
  width: 10px;
}
#mistakes .explanation_wrapper.equation .ors_holder .or_holder {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#mistakes .explanation_wrapper.equation .ors_holder .or_holder div {
  display: flex;
  align-items: center;
}

#results {
  z-index: 3;
  position: fixed;
  width: 10%;
  height: 10%;
  opacity: 0;
  top: -30%;
  left: 45%;
  background-color: var(--green);
  transition: 1s;
}
#results.full {
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  transition: 1s;
  opacity: 1;
  padding: 20px;
  border-radius: 20px;
}
#results.hiden {
  top: -70%;
  opacity: 0;
}
#results #results_inner {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #fff;
}

#results_content {
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 15px;
  overflow-x: auto;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
}
#results_content.hiden {
  opacity: 0;
}

#results_content section {
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: var(--lightgray);
  border-radius: 10px;
  width: 100%;
}
#results_content section h2 {
  text-align: center;
}
#results_content section h3 {
  font-weight: normal;
}
#results_content section h3.progress_percent {
  text-align: center;
}
#results_content section .progress_bar {
  height: 30px;
  margin: 10px 0;
  border: 5px solid var(--gray);
  border-radius: 5px;
  transition: 1s;
  background-color: #fff;
}
#results_content section .progress_bar .progress_line {
  height: 100%;
  width: 0%;
  transition: 1s;
  background-color: var(--green);
}
#results_content section table {
  margin: 10px 0;
  width: 100%;
}
#results_content section table td {
  width: 50%;
  border-bottom: 3px solid var(--gray);
}
#results_content section table .lastTd {
  border: none;
}

#results_content .buttonHolder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
#results_content .buttonHolder .acceptButton {
  background-color: var(--green);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  border-style: solid;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 3px;
  border-top-width: 0;
  border-bottom-color: lime;
  border-top-color: #f2f2f2;
}
#results_content .buttonHolder .acceptButton:active {
  border-bottom-width: 0;
  border-top-width: 3px;
  transition: 0s;
}
#results_content .buttonHolder .acceptButton:hover {
  opacity: 0.8;
}
#results_content .buttonHolder .acceptButton:hover {
  opacity: 0.8;
}

#darkBg {
  width: 100px;
  height: 100px;
  position: fixed;
  top: -100px;
  left: -100px;
  border-radius: 50%;
  background-color: #000;
  opacity: 0;
  z-index: 2;
  transition: 1.5s;
}
#darkBg.active {
  transform: scale(70, 70);
  opacity: 0.7;
}

#to_top_wrapper {
  bottom: 20px;
  right: 20px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  transition: 0.5s;
}
#to_top_wrapper.hiden {
  opacity: 0;
  pointer-events: none;
}
#to_top_wrapper #to_top_container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid var(--green);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  color: var(--green);
  padding-bottom: 4px;
}
#to_top_wrapper #to_top_container:hover {
  opacity: 0.9;
  cursor: pointer;
}
#to_top_wrapper #to_top_container #to_top_button {
  -webkit-clip-path: polygon(5% 2%, 5% 100%, 90% 50%);
          clip-path: polygon(5% 2%, 5% 100%, 90% 50%);
  transform: rotate(-90deg);
  background-color: var(--green);
  width: 60%;
  height: 70%;
}
#to_top_wrapper #to_top_container #to_top_button:focus {
  border: 1px solid #000;
}

@media (max-width: 600px) {
  body {
    padding-top: 40px;
    background-color: var(--lightgray);
  }
  body .eqPart {
    padding: 0 2px;
  }
  body sup, body sub {
    font-size: 0.8rem;
  }
  .main {
    margin: 0;
    border-radius: 0px;
    font-family: sans-serif;
  }
  .main .wrapper {
    margin: 0 auto;
    padding: 15px 0;
  }
  #inputs.autoButtonsWidth .buttons_row button {
    height: 40px;
    font-size: 15px;
  }
  #inputs.autoButtonsWidth .buttons_row button sup {
    font-size: 10px;
  }
  #inputs .buttons_row {
    margin-bottom: 5px;
  }
  #inputs .buttons_row.header, #inputs .buttons_row.header button {
    font-size: 35px;
  }
  #inputs .buttons_row div button {
    font-size: 15px;
    width: 35px;
    height: 35px;
    border-radius: 7px;
    margin: 2.5px 2.5px;
    margin-bottom: 5px;
    border-style: solid;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 3px;
    border-top-width: 0;
  }
  #inputs .buttons_row div button:active {
    border-bottom-width: 0;
    border-top-width: 3px;
    transition: 0s;
  }
  #inputs .buttons_row div button:hover {
    opacity: 0.8;
  }
  #inputs .buttons_row .toggle_all_button {
    width: 35px;
    height: 35px;
    border-radius: 7px;
    margin: 0 2.5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 6px;
    padding: 6px;
    border-style: solid;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 3px;
    border-top-width: 0;
  }
  #inputs .buttons_row .toggle_all_button:active {
    border-bottom-width: 0;
    border-top-width: 3px;
    transition: 0s;
  }
  #inputs .buttons_row .toggle_all_button:hover {
    opacity: 0.8;
  }
  #inputs .slider {
    height: 20px;
    border-radius: 4px;
    margin: 20px 0;
  }
  #inputs .slider::-webkit-slider-thumb {
    height: 30px;
    width: 30px;
  }
  #equations_amount {
    width: 75px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
  }
  #equation_area {
    border-width: 10px;
    border-radius: 20px;
    margin: 15px 0;
    height: 150px;
  }
  #equation_area .inner.flex_column {
    row-gap: 10px;
  }
  #equation_area .equation_text {
    font-size: 30px;
    margin-right: 6px;
  }
  #equation_area .equation_text sup {
    font-size: 1rem;
  }
  #equation_area .equation_text.fraction {
    font-size: 15px;
    max-width: 220px;
  }
  #equation_area .answer_text {
    height: 30px;
    width: 40px;
    font-size: 20px;
    padding: 5px;
  }
  #equation_area .answer_area {
    font-size: 30px;
  }
  #equation_area .answer_area.change_height {
    height: 30px;
  }
  #equation_area .answer_area .x_holder {
    bottom: 1px;
  }
  #equation_area .sign {
    border-style: solid;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 3px;
    border-top-width: 0;
  }
  #equation_area .sign:active {
    border-bottom-width: 0;
    border-top-width: 3px;
    transition: 0s;
  }
  #equation_area .sign:hover {
    opacity: 0.8;
  }
  #equation_area .sign.start {
    border-radius: 7px;
    width: 80px;
    height: 50px;
    font-size: 35px;
    border-style: solid;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 4px;
    border-top-width: 0;
  }
  #equation_area .sign.start:active {
    border-bottom-width: 0;
    border-top-width: 4px;
    transition: 0s;
  }
  #equation_area .sign.start:hover {
    opacity: 0.8;
  }
  #equation_area .sign.submit {
    border-radius: 5px;
    width: 55px;
    height: 30px;
    font-size: 30px;
    margin-left: 3px;
  }
  #equation_area .sign.reload {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 24px;
  }
  #equation_area .sign.accept {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    font-size: 24px;
  }
  #equation_area .sign #sign_start {
    width: 25px;
    height: 25px;
  }
  #mistakes .mistakes_header {
    font-size: 30px;
    margin: 0 0 8px;
  }
  #mistakes .mistakes_header .mistake_cross {
    height: 25px;
    width: 25px;
    margin-right: 7px;
  }
  #mistakes .mistakes_area div {
    max-width: 100px;
    padding: 13px;
    border-width: 3px;
    font-size: 15px;
    width: 100%;
    margin: 7px;
  }
  #mistakes .explanation_wrapper {
    border: 8px solid var(--green);
    padding: 10px;
    border-radius: 15px;
  }
  #mistakes .explanation_wrapper .equation_wrapper {
    border-bottom: 4px solid var(--green);
    padding-bottom: 10px;
    font-size: 20px;
  }
  #mistakes .explanation_wrapper .equation_with_answer {
    background-color: var(--lightgray);
    padding: 7px;
    border-radius: 7px;
    margin-bottom: 5px;
  }
  #mistakes .explanation_wrapper .explanation_container {
    margin-top: 20px;
  }
  #mistakes .explanation_wrapper .explanation_container ol {
    padding-left: 25px;
  }
  #mistakes .explanation_wrapper .explanation_container li {
    font-size: 15px;
    margin-bottom: 15px;
    width: 100%;
  }
  #mistakes .explanation_wrapper.equation .equation_with_answer {
    font-size: 30px;
  }
  #mistakes .explanation_wrapper.equation .equation_with_answer sup {
    font-size: 1rem;
    bottom: 5px;
  }
  #mistakes .explanation_wrapper sup {
    font-size: 0.8rem;
    bottom: 5px;
  }
  #mistakes .explanation_wrapper .equation {
    padding-left: 15px;
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: -webkit-max-content auto;
    grid-template-columns: max-content auto;
    justify-items: start;
  }
  #mistakes .explanation_wrapper .equation .elem {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
  }
  #mistakes .explanation_wrapper .equation .underline {
    text-decoration: underline;
    -webkit-text-decoration-color: #666666;
            text-decoration-color: #666666;
    margin-bottom: 0;
  }
  #mistakes .explanation_wrapper .equation .last {
    margin-bottom: 0;
  }
  #mistakes .explanation_wrapper .equation .top_border {
    border-left: 4px solid var(--green);
    padding: 0 7px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
  #mistakes .explanation_wrapper .equation .left {
    padding-right: 10px;
  }
  #mistakes .explanation_wrapper .equation .right {
    border-left: 4px solid var(--green);
    padding-left: 5px;
  }
  #mistakes .explanation_wrapper .ors_holder {
    zoom: 0.8;
    display: flex;
    padding: 7px;
    border-radius: 5px;
    -moz-column-gap: 20px;
         column-gap: 20px;
    margin-right: 10px;
  }
  #mistakes .explanation_wrapper .ors_holder .or_wrapper {
    display: flex;
    min-height: 60px;
  }
  #mistakes .explanation_wrapper .ors_holder .or_figure {
    border: 1px solid #000;
    border-right-width: 0;
    width: 6px;
  }
  #mistakes .explanation_wrapper .ors_holder .or_holder {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #mistakes .explanation_wrapper .ors_holder .or_holder div {
    display: flex;
    align-items: center;
  }
  #results.full {
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    padding: 13px;
    border-radius: 13px;
  }
  #results.hiden {
    top: -80%;
    opacity: 0;
  }
  #results #results_inner {
    border-radius: 5px;
  }
  #results_content {
    padding: 10px;
    border-radius: 10px;
    overflow-x: auto;
    transition: 0.5s;
  }
  #results_content section {
    padding: 7px 13px;
    margin-bottom: 7px;
    border-radius: 7px;
  }
  #results_content section .progress_bar {
    height: 20px;
    margin: 7px 0;
    border: 3px solid var(--gray);
    border-radius: 3px;
  }
  #results_content section table {
    margin: 7px 0;
  }
  #results_content section table td {
    width: 50%;
    border-bottom: 2px solid var(--gray);
  }
  #results_content .buttonHolder .acceptButton {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
  }
  #darkBg {
    transition: 1s;
  }
  #darkBg.active {
    transform: scale(30, 30);
  }
}/*# sourceMappingURL=style.css.map */