* {
	position: relative;
}



:root {
	--green: #66ff66;
	--lightgray: #f2f2f2;
	--gray: #d9d9d9;
	--red: #ff6666;
}


::-webkit-scrollbar {
	border-radius: 10px;
	width: 10px;
	background-color: var(--lightgray);
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--green);
}

body {
	padding-top: 30px;
}

.results {
	z-index: 3;
	position: fixed;
	
	width: 10%;
	height: 10%;
	
	opacity: 0;
	top: -30%;
	left: 45%;

	background-color: var(--green);
	
	transition: 1s;
}
.results.full {
	top: 15%;
	left: 15%;
	width: 70%;
	height: 70%;
	transition: 1s;
	opacity: 1;
	padding: 20px;
	border-radius: 20px;
}
.results.hiden {
	top: -70%;
	opacity: 0;
}
.results_inner {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: #fff;
}
.results_content {
	width: 100%;
	height: 100%;
	padding: 15px;
	border-radius: 15px;
	overflow-x: auto;
	transition: 0.5s;
}
.results_content.hiden {
	opacity: 0;
}
.darkBg {
	width: 100px;
	height: 100px;
	position: fixed;
	top: -100px;
	left: -100px;
	border-radius: 50%;
	background-color: #000;
	opacity: 0;
	z-index: 2;
	transition: 1.5s;
}
.darkBg.active {
	transform: scale(70, 70);
	opacity: 0.7;
}
.results section {
	padding: 10px 20px;
	margin-bottom: 10px;
	background-color: var(--lightgray);
	border-radius: 10px;
	width: 100%;
}
.results h2 {
	text-align: center;
}
.results h3 {
	font-weight: normal;
}
.range_result {
	height: 30px;
	margin: 10px 0;
	border: 5px solid var(--gray);
	border-radius: 5px;
	transition: 1s;
	background-color: #fff;
}
.range_line {
	height: 100%;
	width: 0%;
	transition: 1s;
	background-color: var(--green);
}
.results h3.percent {
	text-align: center;
}
table.stats {
	margin: 10px 0;
	width: 100%;
}
.stats td {
	width: 50%;
	border-bottom: 3px solid var(--gray);
}
.stats .lastTd {
	border: none;
}
.buttonHolder {
	width: 100%;
	display: flex;
	justify-content: center;
}
.acceptButton {
	background-color: var(--green);
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	color: white;
	border-radius: 10px;
	padding: 10px;
	cursor: pointer;
}
.acceptButton:hover {
	opacity: 0.8;
}

.results .eqAmount {
	font-size: 1.2rem;
	background-color: var(--lightgray);
	padding: 10px;
	border-radius: 5px;
	width: 30%;
	text-align: center;
}
.results_holder {
	margin: 5px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: 50px;
}


.main {
	margin: auto;
	max-width: 1000px;
	background-color: #f2f2f2;
	border-radius: 20px;
	font-family: sans-serif;
}
.wrapper {
	max-width: 80%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 auto;
	padding: 30px 0;
}
.nums_holder {
	max-width: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.numbers, .actionSign {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background-color: #d9d9d9;
	cursor: pointer;
	margin: 5px 5px;
	transition: 0.25s;
	user-select: none;
	z-index: 1;
}
.numbers.active, .actionSign.active, .select_all_button.active {
	background-color: var(--green);
}
.select_all_button {
	width: 50px;
	height: 50px;
	border-radius: 10px;
	background-color: #d9d9d9;
	cursor: pointer;
	margin: 0 5px;
	transition: 1s;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 8px;
	padding: 8px;	
}

.squares {
	background-color: var(--green);
	border-radius: 3px;
}
.active .squares {
	background-color: #d9d9d9;
}
.range {
	appearance: none;
	max-width: 800px;
	width: 100%;
	display: block;
	background-color: #d9d9d9;
	opacity: 0.8;
	transition: opacity .2s;
	height: 30px;
	border-radius: 4px;
	margin: 30px 0;
}
.range:hover {
	opacity: 1;
}
.range::-webkit-slider-thumb{
	appearance: none;
	background-color: var(--green);
	height: 40px;
	width: 40px;
	border-radius: 5px;
}
.range_value {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 50px;
	margin: 0 auto;	
	box-sizing: border-box;
	border-radius: 10px;
	background-color: #d9d9d9;

}
.unactive {
	pointer-events: none;
}
.header {
	font-size: 45px;
	display: flex;
	align-self: center;
	justify-content: center;
	user-select: none;
	font-family: serif;
}
.equation_area {
	border: 15px solid #d9d9d9;
	border-radius: 20px;
	margin: 20px 0;
	max-width: 800px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
}
.equation_area-active {
	border-color: var(--green);
}
.equation_area-mistake {
	transition: 0.25s;
	background-color: #ffb3b3;
}
.equation_text {
	font-size: 40px;
	margin-right: 10px;
	color: #262626;
	transition: 0.500s;
}
.answer_text {
	height: 40px;
	width: 60px;
	font-size: 25px;
	box-sizing: border-box;
	padding: 5px;
	color: #4d4d4d;
	text-align: center;
	transition: 0.5s
}
.equation_text.hiden {
	opacity: 0;
}
.answer_text.hiden, .sign.hiden {
	opacity: 0;
	width: 0;
	padding: 0;
	border-width: 0;
}
.answer_text.none {
	display: none;
}
.sign {
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	background-color: var(--green);
	color: white;
	cursor: pointer;
	transition: 0.5s;
}
.sign.start {
	border-radius: 10px;
	width: 120px;
	height: 80px;
}
#sign_start {
	clip-path: polygon(5% 2%, 5% 100%, 90% 50%);
	background-color: #fff;
	width: 40px;
	height: 40px;
}
.sign.submit {
	border-radius: 5px;
	width: 80px;
	height: 40px;
	font-size: 40px;
	margin-left: 5px;
}
.sign.reload {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	font-weight: bold;
	font-size: 36px;
}

input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.mistakes_header {
	text-align: center;
	font-size: 45px;
	color: #d9d9d9;
	font-weight: bold;
	transition: 0.5s;
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin: 10px 0;
}
.mistake_cross {
	clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
	background-color: var(--gray);
	height: 40px;
	width: 40px;
	margin-right: 10px;
	transition: 1s;
}
.mistakes_header.active .mistake_cross{
	background-color: var(--red);
}
.mistakes_header.no_mistakes .mistake_cross{
	background-color: var(--green);
}
.mistakes_area {
	max-width: 800px;
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	margin: 0 auto;
	justify-content: center;
	flex-wrap: wrap-reverse;
	transition: 1s;
}
.mistakes_area div {
	width: 100%;
	max-width: 200px;
	padding: 20px;
	margin: 10px;
	border: 4px dashed #d9d9d9;
	text-align: center;
	font-size: 20px;
	transition: 0.5s;
}

.mistakes_area div.failed {
	border-color: var(--red);
} 

.mistakes_area div.solved {
	border-color: var(--green);
}

.mistakes_area div.unactive {
	border-color: #d9d9d9;
}

@media (max-width: 600px) {
	body {
		padding-top: 40px;
		background-color: var(--lightgray);
	}
	.results.full {
		top: 10%;
		left: 10%;
		width: 80%;
		height: 80%;
		padding: 13px;
		border-radius: 13px;
	}
	.results.hiden {
		top: -80%;
		opacity: 0;
	}
	.results_inner {
		border-radius: 5px;
	}
	.results_content {
		padding: 10px;
		border-radius: 10px;
		overflow-x: auto;
		transition: 0.5s;
	}

	.results section {
		padding: 7px 13px;
		margin-bottom: 7px;
		border-radius: 7px;
	}
	.range_result {
		height: 20px;
		margin: 7px 0;
		border: 3px solid var(--gray);
		border-radius: 3px;
	}
	table.stats {
		margin: 7px 0;
	}
	.stats td {
		width: 50%;
		border-bottom: 2px solid var(--gray);
	}
	.acceptButton {
		width: 60px;
		height: 60px;
		font-size: 2rem;
		border-radius: 7px;
		padding: 7px;
	}
	.results_p {
		font-size: 0.9rem;
	}
	.results .eqAmount {
		font-size: 1.1rem;
		padding: 7px;
		border-radius: 5px;
		min-width: 30%;
		text-align: center;
	}
	.results_holder {
		margin: 5px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		max-height: 50px;
	}
	.darkBg {
		transition: 1s;
	}
	.darkBg.active {
		transform: scale(30, 30);
	}
	

	.main {
		margin: 0;
		border-radius: 0px;
		font-family: sans-serif;
	}
	.wrapper {
		margin: 0 auto;
		padding: 15px 0;
	}
	.numbers, .actionSign {
		font-size: 15px;
		width: 35px;
		height: 35px;
		border-radius: 7px;
		margin: 2.5px 2.5px;
	}
	.actionSign {
		font-size: 35px;
	}
	.select_all_button {
		width: 35px;
		height: 35px;
		border-radius: 7px;
		margin: 0 2.5px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 6px;
		padding: 6px;	
	}
	.range {
		height: 20px;
		border-radius: 4px;
		margin: 20px 0;
	}
	.range::-webkit-slider-thumb{
		height: 30px;
		width: 30px;
	}
	.range_value {
		width: 75px;
		height: 30px;
		border-radius: 5px;
		font-size: 15px;
	}
	.header {
		font-size: 35px;
		margin-bottom: 10px;
	}
	.equation_area {
		border-width: 10px;
		border-radius: 20px;
		margin: 15px 0;
		height: 150px;
	}
	.equation_text {
		font-size: 30px;
		margin-right: 6px;
	}
	.answer_text {
		height: 30px;
		width: 40px;
		font-size: 20px;
		padding: 5px;
	}
	.sign.start {
		border-radius: 7px;
		width: 80px;
		height: 50px;
		font-size: 35px;
	}
	#sign_start {
		width: 25px;
		height: 25px;
	}	
	.sign.submit {
		border-radius: 5px;
		width: 55px;
		height: 30px;
		font-size: 30px;
		margin-left: 3px;
	}
	.sign.reload {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		font-size: 24px;
	}
	.mistakes_header {
		font-size: 30px;
		margin: 7px 0;
	}
	.mistake_cross {
		height: 25px;
		width: 25px;
		margin-right: 7px;
	}
	.mistakes_area div {
		max-width: 100px;
		padding: 13px;
		border-width: 3px;
		font-size: 15px;
		width: 100%;
		margin: 7px;
	}

}